
html{
    scroll-behavior: smooth;
    /*this is to make smooth scrolling effect when clicking certain navigation link*/
}

:root{
    --color-1:#0082e6;
}

body{
    background-color: #FFFFFF;

}

nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
     height: 34px;
        width: 44px;
        background-color: #ffffff;
        border-radius: 4px;
        cursor: pointer;
        display: none;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
}


.checkbtn span{
    display: block;
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    position: relative;
}

.checkbtn span::before,
.checkbtn span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
    left: 0;

}

.checkbtn span::before{
    top: -6px;
}

.checkbtn span::after{
    top: 6px;
}

#check{
    display: none;
}


@media (max-width: 952px){
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: flex;
    }

    #check:checked ~ .nav{
            opacity: 1;
            visibility: visible;
        }

      #check:focus ~ .checkbtn{
            box-shadow: 0 0 15px #000000;
        }


       #check:checked ~ .checkbtn span{
            background-color: transparent;
        }

        #check:checked ~ .checkbtn span::before{
            top: 0;
            transform: rotate(45deg);
        }

         #check:checked ~ .checkbtn span::after{
            top: 0;
            transform: rotate(-45deg);
        }

    ul{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }



    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }


    a:hover, a.active{
        background: none;
        color: #0082e6;
    }


    #check:checked ~ ul{
        left: 0;
    }
}




*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.Content{
    background-color: #FFFFFF;
    padding-top: 118px;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.headers_line{
    border-top: 5px solid blue;
    width: 50%;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 630px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


div.skill_images{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    padding: 20px;
}

h6{
    text-align: center;
}

h6.skill-title{
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    font-size: 1.28rem ;
}


h6.skills-header{
    font-size: 1.1em
}


p{
    font-family: Roboto;
    font-size: 1.2rem;
}



@media all and (max-width: 768px){
    .nav-link{
        font-size: 1.2em;
    }


}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}


.Home{
    margin-top: -38px;
    margin-bottom: 30px;
    padding: 8.5em 8.5em;
    background-color: #007bff;
}

.Intro{
    margin: 0 auto;
    overflow: auto;
}

.greetings{
    width: 50%;
    float:left;
}

.welcome_note{
    text-align: left;
    color: white;
}

.About{
    padding: 7.5em 8.5em;
    margin-bottom: 2em;
    margin-top: -2em;
    background-color: #f2d8d7;

}

.about_me{
    text-align: justify;
    text-justify: inter-word;
}

.Experience{
    padding: 7.5em 8.5em;
    margin-top: -2em;
    margin-bottom: 2em;
    background-color: #f9f9f9;
}

.Education{
    padding: 7.5em 8.5em;
    margin-top: -2em;
    margin-bottom: 2em;
    background-color: #f2d8d7;
}


.Skills{
    text-align: center;
    padding: 7.5em 8.5em;
    margin-top: -2em;
    background-color: #f9f9f9;

}

.programming_skills{
    background: blue;
}

.non-programming_skills{
    background: blue;
}

.skill_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 793px;
    grid-column-gap: 50px;
}

.skill_section{
    background-color: #88BDBC;
    border-radius: 25px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: -100px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    grid-column-gap: 50px;
}

.item{
    background: #FFFFFF;
    border-radius: 25px;
    padding: 10px;
}




.skill-content{
    padding: 20px;
}


.caption{
    display: block;
}


.Contact{
    text-align: center;
    padding: 1.5em 8.5em;
    margin-top: -2em;
    background-color: #f2d8d7;
}

.contact-linkedin > * {
    float: left;
    margin-right:5px;
}

.contact-gmail > * {
    float: right;
    margin-right: 5px;
}

.contact-desc{
    font-size: 1.5em;
    margin: 0 -4em;
}

.contact1{
    display: inline-block;
    padding: 20px;
}

.contact2{
    display: inline-block;
    padding: 20px;
}


footer{
    text-align: center;
    background-color: #007bff;
    padding: 10px;
}


footer > p{
    color: white;
}


.home{
    font-size: 2em;
    text-align: left;
    color: white;
}

#hariz_profile{
    border-radius: 50%;
    width: 20em;
    height: 20em;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#hariz_proImage{
    float: right;
    /*to have rounded corners for rectangular image*/
    border-radius: 15px;
    border: 10px solid black;
    width: 20em;
    /*how to make image to be at the right, but inside div*/
}

.user_profile{
    margin-left:50%
}


/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #88BDBC;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


/* Container around content */
.education_container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.education_container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #88BDBC;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Container around content */
.experience_container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.experience_container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #88BDBC;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}



/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

@media screen and (min-width: 830px){
    /* Add arrows to the left container (pointing right) */
    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid #88BDBC;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #88BDBC;
    }

    /* Add arrows to the right container (pointing left) */
    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid #88BDBC;
        border-width: 10px 10px 10px 0;
        border-color: transparent #88BDBC transparent transparent;
    }
}


/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual education_content */
.content {
    padding: 20px 30px;
    background-color: #88BDBC;
    position: relative;
    border-radius: 6px;
}


.education_content{
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .Home{
    margin-bottom: 30px;
    padding: 1.5em 8.5em;
    background-color: #007bff;
    }

    .content{
        padding: 20px 85px;
        background-color: #88BDBC;
        position: relative;
        border-radius: 6px;
    }

    .education_content{
        padding: 20px 85px;
        background-color: white;
        position: relative;
        border-radius: 6px;
    }


    div.content > p{
        font-size: 0.8rem;
        margin: 0em -6em;
    }

    div.education_content > p{
        font-size: 0.8rem;
        margin: 0em -6em;
    }


    div.content > h2{
        font-size: 1.5rem;
        margin: 0em -3em;
    }


    div.education_content > h2{
        font-size: 1.5rem;
        margin: 0em -3em;
    }

    div.content > h4{
        font-size: 1rem;
        margin: 0em -4.5em;
    }

    div.education_content > h4{
        font-size: 1rem;
        margin: 0em -4.5em;
    }


}
@media screen and (min-width: 320px) and (max-width: 560px){
        div.column > h2{
            font-size: 1.0rem;
        }

        div.row{
            display: flex;
            flex-wrap: wrap;
            margin-right: -97px;
            margin-left: -94px;
        }

        div.column{
            float: left;
            width: 50%;
            padding: 10px;
            height: 1494px;
        }
}

@media screen and (min-width: 561px) and (max-width: 771px){
    div.column > h2{
        font-size: 1.2rem;
    }

    div.column{
        float: left;
        width: 50%;
        padding: 10px;
        height: 1494px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1020px){
    div.column{
        float: left;
        width: 50%;
        padding: 10px;
        height: 1010px;
    }
}

@media screen and (min-width: 320px) and (max-width: 420px){
    .about_me{
        margin: 0em -6em;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px){

    .Home{
        margin-bottom: 30px;
        padding: 7.5em 8.5em;
        background-color: #007bff;
    }

    .About{
        padding: 7.5em 8.5em;
        margin-bottom: 2em;
        margin-top: -2em;
        background-color: #f2d8d7;
    }

    .Experience{
        padding-top: 7.5em;
        padding-left: 8.5em;
        padding-right: 8.5em;
        margin-top: -2em;
        margin-bottom: 2em;
        background-color: #f9f9f9;
    }


    .Education{
        padding: 7.5em 8.5em;
        margin-top: -2em;
        margin-bottom: 2em;
        background-color: #f2d8d7;
    }


    .Skills{
        text-align: center;
        padding: 7.5em 8.5em;
        margin-top: -2em;
        background-color: #f9f9f9;
    }

}


@media screen and (min-width: 320px) and (max-width: 420px){

    .Home{
        margin-right: -3.2em;
    }

    .About{
        margin-right: -3.2em;
    }

    .Experience{
        margin-right: -3.2em;
    }

    .Education{
        margin-right: -3.2em;
    }

    .Skills{
        margin-right: -3.2em;
    }

    .Contact{
        margin-right: -3.2em;
    }

    footer{
        margin-right: -3.2em;
    }


}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (min-width: 320px) and (max-width: 830px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /*/* Full-width containers */
    .education_container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }

    h1{
        font-size: 2.0rem ;
    }

    .about_me{
        font-size: 1.0rem;
    }

    h1.headers{
        font-size: 2.0rem;
    }
    div.education_content > h2{
        font-size: 1.5rem;
    }

    div.education_content > h4 {
        font-size: 1rem;
    }

    div.education_content > p{
        font-size: 0.8rem;
    }

    div.content > h2{
        font-size: 1.5rem;
    }

    div.content > h4 {
        font-size: 1rem;
    }

    div.content > p{
        font-size: 0.8rem;
    }


}

@media screen and (max-width: 1000px){
    img.img_skill{
        max-width: 100%;
        height: auto;
        width: auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 590px){
    #hariz_proImage{
        float: right;
        border-radius: 15px;
        border: 10px solid black;
        width: 10em;
    }

    div.Intro{
        margin: 0 -7em;
        overflow: auto;
    }

    h1.welcome_note{
        font-size: 1.5em;
    }

    .home{
        font-size: 1.0em;
    }


}


@media screen and (min-width: 590px) and (max-width: 740px){

    #hariz_proImage{
        float: right;
        border-radius: 15px;
        border: 10px solid black;
        width: 10em;
    }

    h1.welcome_note{
        font-size: 1.5em;
    }

    .home{
        font-size: 1.0em;
    }


}

@media screen and (min-width: 740px) and (max-width: 765px){
    h1.welcome_note{
        font-size: 2.0em;
    }

    .home{
        font-size: 1.5em;
    }

    #hariz_proImage{
        float: right;
        border-radius: 15px;
        border: 10px solid black;
        width: 15em;
    }
}

@media screen and (min-width: 765px) and (max-width: 850px){
    #hariz_proImage{
        float: right;
        border-radius: 15px;
        border: 10px solid black;
        width: 15em;
    }

}

@media screen and (min-width: 771px) and (max-width: 830px){
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 1000px;
    }
}
@media screen and (min-width: 830px) and (max-width: 1000px){
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 1000px;
    }

    #hariz_proImage{
        float: right;
        border-radius: 15px;
        border: 10px solid black;
        width: 17em;
    }

    div.education_content > h2{
        font-size: 1.5rem;
    }

    div.education_content > h4 {
        font-size: 1rem;
    }

    div.education_content > p{
        font-size: 0.8rem;
    }

    div.content > h2{
        font-size: 1.5rem;
    }

    div.content > h4 {
        font-size: 1rem;
    }

    div.content > p{
        font-size: 0.8rem;
    }



}
