body{
    background-color: #88BDBC;
}

html{
    scroll-behavior: smooth;
    /*this is to make smooth scrolling effect when clicking certain navigation link*/
}

/*.header{*/
/*    padding-bottom: 10px;*/
/*}*/
.Content{
    background-color: #88BDBC;
    padding-top: 118px;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

p{
    font-family: Roboto;
    /*text-align: center;*/
    font-size: 1.2rem;
}

.nav-link{
    font-size: 1.5em;
}

.Home{
    margin-top: 30px;
    padding: 1em;




    /*background-color: #88BDBC*/
}

.Intro{
    margin: 0 auto;

    /*overflow: auto makes sures the div follows the size of the image */
    overflow: auto;
}

.Skills{
    text-align: center;
    padding: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;

}

.About{
    padding: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.Contact{
    padding: 1.5em;
    margin-top: 2em;
}

h1{
    text-align: center;
}

h6{
    text-align: center;
}


footer{
    /*position: fixed;*/
    text-align: center;
    background-color: #777;
    padding: 10px;
}

.welcome_note{
    text-align: left;
}

.home{
    font-size: 2em;
    text-align: left;
}

#hariz_profile{
    border-radius: 50%;
    width: 20em;
    height: 20em;

    /*to make image center*/
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#hariz_proImage{
    /*this is to make the image center*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    float: right;
    /*to have rounded corners for rectangular image*/
    border-radius: 15px;
    border: 10px solid black;

    /*how to make image to be at the right, but inside div*/



}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}


.greetings{
    width: 50%;
    float:left;
}

.user_profile{
    margin-left:50%
}

