body{
    background-color: #88BDBC;
}

/*.header{*/
/*    padding-bottom: 10px;*/
/*}*/
.Content{
    background-color: #88BDBC;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

p{
    font-family: Roboto;
    text-align: center;
    font-size: 1.2rem;
}

.nav-link{
    font-size: 2em;
}

.Home{
    margin-top: 30px;
    padding: 10px;
    /*background-color: #88BDBC*/
}

.Skills{
    text-align: center;
}

.About{
    padding: 10px;
}

.Contact{
    padding: 10px;
}

h1{
    text-align: center;
}

h6{
    text-align: center;
}

footer{
    /*position: fixed;*/
    text-align: center;
    background-color: #777;
    padding: 10px;
}

.greetings{
    text-align: left;
}

.home{
    font-size: 2em;
}

#hariz_profile{
    border-radius: 50%;
    width: 20em;
    height: 20em;

    /*to make image center*/
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}

